<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Airbnb</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><img src="" alt=""></li>
                <li><a href="ayuda/ayuda.component.html">Ayuda</a></li>
                <li><a href="contacto/contacto.component.html">Contacto</a></li>
                <li><a href="nosotros/nosotros.component.html">Nosotros</a></li>
                <li><a href="#">Buscar</a></li>
            </ul>
        </nav>
    </header>

    
        <section class="hero">
            <h1>"Explora el mundo con Airbnb"</h1>
            <p>¡Encuentra tu hogar lejos de casa en cualquier destino! Desde acogedoras cabañas en la montaña hasta elegantes apartamentos en la ciudad, Airbnb te ofrece una variedad de alojamientos únicos para todas tus aventuras. ¡Reserva tu próxima aventura y mánala!</p>
            <a href="#" class="btn">¡RESERVA YA!</a>
        </section>

        <section class="listings">
            <h2 style="text-align: center;">Destinos populares</h2>
            <div class="listing-grid">
                <!-- Aquí irán las tarjetas de los alojamientos -->
            </div>
        </section>


    <footer class="footer">
        <p>&copy; 2024 Airbnb. Todos los derechos reservados.</p>
    </footer>

</body>
</html>